*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body,
form,
fieldset,
legend,
input,
select,
textarea,
button {
    margin: 0;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
    color: #585858;
    font-weight: 400;
    background: #ffffff;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #cd5c5c;
    background: transparent;
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
}

h1,
.h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 38px;
    line-height: 2.375rem;
    margin-top: .7em;
    margin-bottom: .5em;
    color: #343434;
    font-weight: 400;
}

h2,
.h2 {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 32px;
    line-height: 2rem;
    margin-top: 1.4em;
    margin-bottom: .2em;
    color: #343434;
    font-weight: 400;
}

h3,
.h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin-top: 1em;
    margin-bottom: .2em;
    color: #343434;
    font-weight: 400;
}

h4,
.h4 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    margin-top: 1em;
    margin-bottom: .2em;
    color: #343434;
    font-weight: 400;
}

h5,
.h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
    margin-top: 1em;
    margin-bottom: .1em;
    color: #343434;
    font-weight: 400;
}

h6,
.h6 {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    line-height: 1.25rem;
    margin-top: 1em;
    margin-bottom: .1em;
    color: #343434;
    font-weight: 400;
}

b,
strong,
.strong {
    font-weight: 700;
}

em,
.em {
    font-style: italic;
}

abbr[title],
.abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
    font-style: italic;
}

small,
.small {
    font-size: 80%;
}

mark,
.mark {
    background: #ff0;
    color: #000;
}

sub,
.sub,
sup,
.sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup,
.sup {
    top: -0.5em;
}

sub,
.sub {
    bottom: -0.25em;
}

del,
.del {
    text-decoration: line-through;
}

figure {
    margin: 1em 40px;
}

hr,
.hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    background: #eee;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul,
ol {
    margin: 1em 0 2em 0;
    padding: 0 0 0 40px;
}

ul li,
ol li {
    margin-bottom: 5px;
}

dl dt {
    float: left;
    width: 25%;
    display: block;
    font-weight: 400;
}

dl dd {
    overflow: hidden;
    display: block;
}

blockquote,
.blockquote {
    margin: 3em 0;
    color: #424242;
    font-style: italic;
    font-weight: 400;
}

blockquote p,
.blockquote p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin-bottom: .4em;
}

blockquote cite,
.blockquote cite {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 19px;
    line-height: 1.1875rem;
    font-weight: 700;
    font-style: normal;
    color: #777777;
}

caption {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: normal;
    font-weight: 700;
    text-align: left;
    padding: .5em 0;
    border-bottom: 1px solid #d7d7d7;
}

table {
    font-size: 14px;
    font-size: 0.875rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 1em 0;
    text-align: left;
}

table thead td,
table tbody td,
table tfoot td,
table thead th,
table tbody th,
table tfoot th {
    color: #585858;
    padding: .8em .5em;
    border-bottom: 1px solid #e9e9e9;
}

code,
kbd,
pre,
samp {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 18px;
    line-height: 1.125rem;
    word-wrap: break-word;
    font-family: 'courier new', monospace, serif;
    color: #272727;
    background-color: #f1f1f1;
    font-weight: normal;
    padding: 5px;
    white-space: pre-wrap;
}

pre {
    padding: 10px;
    overflow: auto;
    border: 1px solid #d7d7d7;
}

fieldset,
legend {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 700;
}

.form {
    padding-top: 1em;
    padding-bottom: 1em;
}

label,
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

.input {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="phone"] {
    height: 36px;
    padding: 0 .4em;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
}

select {
    text-transform: none;
}

optgroup {
    font-weight: 700;
}

button {
    overflow: visible;
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.clear:before,
.clear:after,
dl:before,
dl:after {
    content: " ";
    display: table;
}

.clear:after,
dl:after {
    clear: both;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-full {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 719px) {
    .container,
    .container-full {
        width: 720px;
    }
}

@media only screen and (min-width: 979px) {
    .container,
    .container-full {
        width: 980px;
    }
}

@media only screen and (min-width: 1139px) {
    .container,
    .container-full {
        width: 1140px;
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}

.push-1 {
    left: 8.33333333%;
}

.push-2 {
    left: 16.66666667%;
}

.push-3 {
    left: 25%;
}

.push-4 {
    left: 33.33333333%;
}

.push-5 {
    left: 41.66666667%;
}

.push-6 {
    left: 50%;
}

.push-7 {
    left: 58.33333333%;
}

.push-8 {
    left: 66.66666667%;
}

.push-9 {
    left: 75%;
}

.push-10 {
    left: 83.33333333%;
}

.push-11 {
    left: 91.66666667%;
}

.pull-1 {
    left: -8.33333333%;
}

.pull-2 {
    left: -16.66666667%;
}

.pull-3 {
    left: -25%;
}

.pull-4 {
    left: -33.33333333%;
}

.pull-5 {
    left: -41.66666667%;
}

.pull-6 {
    left: -50%;
}

.pull-7 {
    left: -58.33333333%;
}

.pull-8 {
    left: -66.66666667%;
}

.pull-9 {
    left: -75%;
}

.pull-10 {
    left: -83.33333333%;
}

.pull-11 {
    left: -91.66666667%;
}

.hide-mobile {
    display: none;
}

.show-mobile {
    display: block;
}

.show-mobile-inline-block {
    display: inline-block;
}

.show-mobile-inline {
    display: inline;
}

@media only screen and (min-width: 719px) {
    .col-tablet-1,
    .col-tablet-2,
    .col-tablet-3,
    .col-tablet-4,
    .col-tablet-5,
    .col-tablet-6,
    .col-tablet-7,
    .col-tablet-8,
    .col-tablet-9,
    .col-tablet-10,
    .col-tablet-11,
    .col-tablet-12 {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: left;
    }
    .col-tablet-1 {
        width: 8.33333333%;
    }
    .col-tablet-2 {
        width: 16.66666667%;
    }
    .col-tablet-3 {
        width: 25%;
    }
    .col-tablet-4 {
        width: 33.33333333%;
    }
    .col-tablet-5 {
        width: 41.66666667%;
    }
    .col-tablet-6 {
        width: 50%;
    }
    .col-tablet-7 {
        width: 58.33333333%;
    }
    .col-tablet-8 {
        width: 66.66666667%;
    }
    .col-tablet-9 {
        width: 75%;
    }
    .col-tablet-10 {
        width: 83.33333333%;
    }
    .col-tablet-11 {
        width: 91.66666667%;
    }
    .col-tablet-12 {
        width: 100%;
    }
    .push-tablet-1 {
        left: 8.33333333%;
    }
    .push-tablet-2 {
        left: 16.66666667%;
    }
    .push-tablet-3 {
        left: 25%;
    }
    .push-tablet-4 {
        left: 33.33333333%;
    }
    .push-tablet-5 {
        left: 41.66666667%;
    }
    .push-tablet-6 {
        left: 50%;
    }
    .push-tablet-7 {
        left: 58.33333333%;
    }
    .push-tablet-8 {
        left: 66.66666667%;
    }
    .push-tablet-9 {
        left: 75%;
    }
    .push-tablet-10 {
        left: 83.33333333%;
    }
    .push-tablet-11 {
        left: 91.66666667%;
    }
    .pull-tablet-1 {
        left: -8.33333333%;
    }
    .pull-tablet-2 {
        left: -16.66666667%;
    }
    .pull-tablet-3 {
        left: -25%;
    }
    .pull-tablet-4 {
        left: -33.33333333%;
    }
    .pull-tablet-5 {
        left: -41.66666667%;
    }
    .pull-tablet-6 {
        left: -50%;
    }
    .pull-tablet-7 {
        left: -58.33333333%;
    }
    .pull-tablet-8 {
        left: -66.66666667%;
    }
    .pull-tablet-9 {
        left: -75%;
    }
    .pull-tablet-10 {
        left: -83.33333333%;
    }
    .pull-tablet-11 {
        left: -91.66666667%;
    }
    .hide-tablet {
        display: none;
    }
    .show-tablet {
        display: block;
    }
    .show-tablet-inline-block {
        display: inline-block;
    }
    .show-tablet-inline {
        display: inline;
    }
    .tablet-no-padding {
        padding: 0;
    }
}

@media only screen and (min-width: 979px) {
    .col-desktop-1,
    .col-desktop-2,
    .col-desktop-3,
    .col-desktop-4,
    .col-desktop-5,
    .col-desktop-6,
    .col-desktop-7,
    .col-desktop-8,
    .col-desktop-9,
    .col-desktop-10,
    .col-desktop-11,
    .col-desktop-12 {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: left;
    }
    .col-desktop-1 {
        width: 8.33333333%;
    }
    .col-desktop-2 {
        width: 16.66666667%;
    }
    .col-desktop-3 {
        width: 25%;
    }
    .col-desktop-4 {
        width: 33.33333333%;
    }
    .col-desktop-5 {
        width: 41.66666667%;
    }
    .col-desktop-6 {
        width: 50%;
    }
    .col-desktop-7 {
        width: 58.33333333%;
    }
    .col-desktop-8 {
        width: 66.66666667%;
    }
    .col-desktop-9 {
        width: 75%;
    }
    .col-desktop-10 {
        width: 83.33333333%;
    }
    .col-desktop-11 {
        width: 91.66666667%;
    }
    .col-desktop-12 {
        width: 100%;
    }
    .push-desktop-1 {
        left: 8.33333333%;
    }
    .push-desktop-2 {
        left: 16.66666667%;
    }
    .push-desktop-3 {
        left: 25%;
    }
    .push-desktop-4 {
        left: 33.33333333%;
    }
    .push-desktop-5 {
        left: 41.66666667%;
    }
    .push-desktop-6 {
        left: 50%;
    }
    .push-desktop-7 {
        left: 58.33333333%;
    }
    .push-desktop-8 {
        left: 66.66666667%;
    }
    .push-desktop-9 {
        left: 75%;
    }
    .push-desktop-10 {
        left: 83.33333333%;
    }
    .push-desktop-11 {
        left: 91.66666667%;
    }
    .pull-desktop-1 {
        left: -8.33333333%;
    }
    .pull-desktop-2 {
        left: -16.66666667%;
    }
    .pull-desktop-3 {
        left: -25%;
    }
    .pull-desktop-4 {
        left: -33.33333333%;
    }
    .pull-desktop-5 {
        left: -41.66666667%;
    }
    .pull-desktop-6 {
        left: -50%;
    }
    .pull-desktop-7 {
        left: -58.33333333%;
    }
    .pull-desktop-8 {
        left: -66.66666667%;
    }
    .pull-desktop-9 {
        left: -75%;
    }
    .pull-desktop-10 {
        left: -83.33333333%;
    }
    .pull-desktop-11 {
        left: -91.66666667%;
    }
    .hide-desktop {
        display: none;
    }
    .show-desktop {
        display: block;
    }
    .show-desktop-inline-block {
        display: inline-block;
    }
    .show-desktop-inline {
        display: inline;
    }
    .desktop-no-padding {
        padding: 0;
    }
}

@media only screen and (min-width: 1139px) {
    .col-hd-1,
    .col-hd-2,
    .col-hd-3,
    .col-hd-4,
    .col-hd-5,
    .col-hd-6,
    .col-hd-7,
    .col-hd-8,
    .col-hd-9,
    .col-hd-10,
    .col-hd-11,
    .col-hd-12 {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: left;
    }
    .col-hd-1 {
        width: 8.33333333%;
    }
    .col-hd-2 {
        width: 16.66666667%;
    }
    .col-hd-3 {
        width: 25%;
    }
    .col-hd-4 {
        width: 33.33333333%;
    }
    .col-hd-5 {
        width: 41.66666667%;
    }
    .col-hd-6 {
        width: 50%;
    }
    .col-hd-7 {
        width: 58.33333333%;
    }
    .col-hd-8 {
        width: 66.66666667%;
    }
    .col-hd-9 {
        width: 75%;
    }
    .col-hd-10 {
        width: 83.33333333%;
    }
    .col-hd-11 {
        width: 91.66666667%;
    }
    .col-hd-12 {
        width: 100%;
    }
    .push-hd-1 {
        left: 8.33333333%;
    }
    .push-hd-2 {
        left: 16.66666667%;
    }
    .push-hd-3 {
        left: 25%;
    }
    .push-hd-4 {
        left: 33.33333333%;
    }
    .push-hd-5 {
        left: 41.66666667%;
    }
    .push-hd-6 {
        left: 50%;
    }
    .push-hd-7 {
        left: 58.33333333%;
    }
    .push-hd-8 {
        left: 66.66666667%;
    }
    .push-hd-9 {
        left: 75%;
    }
    .push-hd-10 {
        left: 83.33333333%;
    }
    .push-hd-11 {
        left: 91.66666667%;
    }
    .pull-hd-1 {
        left: -8.33333333%;
    }
    .pull-hd-2 {
        left: -16.66666667%;
    }
    .pull-hd-3 {
        left: -25%;
    }
    .pull-hd-4 {
        left: -33.33333333%;
    }
    .pull-hd-5 {
        left: -41.66666667%;
    }
    .pull-hd-6 {
        left: -50%;
    }
    .pull-hd-7 {
        left: -58.33333333%;
    }
    .pull-hd-8 {
        left: -66.66666667%;
    }
    .pull-hd-9 {
        left: -75%;
    }
    .pull-hd-10 {
        left: -83.33333333%;
    }
    .pull-hd-11 {
        left: -91.66666667%;
    }
    .hide-hd {
        display: none;
    }
    .show-hd {
        display: block;
    }
    .show-hd-inline-block {
        display: inline-block;
    }
    .show-hd-inline {
        display: inline;
    }
    .hd-no-padding {
        padding: 0;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-float {
    float: none;
}

.no-background {
    background: transparent;
}

.no-border {
    border: 0;
}

.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extra-bold {
    font-weight: 800;
}

.font-ultra-bold {
    font-weight: 900;
}

.font-normal {
    font-style: normal;
}

.font-italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.static {
    position: static;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.none {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center-element {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.sr {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-unstyled li {
    margin: 0;
    padding: 0;
}

.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.img-left {
    float: left;
    margin-right: 20px;
}

.img-right {
    float: right;
    margin-left: 20px;
}

.field-group {
    padding-top: .5em;
    padding-bottom: .5em;
    overflow: hidden;
}

.field-group label {
    padding-top: 8px;
}

.field {
    width: 100%;
}

.button {
    border: 1px solid #d7d7d7;
    background-color: #f3f3f3;
    line-height: normal;
    padding: .5em 1em;
    text-decoration: none;
    color: #363636;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:hover {
    background: #f9f9f9;
}

.button:active {
    background: #fff;
}

.button-link {
    color: #cd5c5c;
    text-decoration: underline;
    border: 0;
    background: transparent;
    padding: 0;
}

.button-link:hover {
    text-decoration: none;
}

.button-link:active {
    outline: 0;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.select {
    border: 1px solid #ccc;
    overflow: hidden;
    height: 36px;
    line-height: 32px;
    position: relative;
    display: block;
}

.select:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #676767;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
}

.select select {
    -webkit-appearance: none;
    width: 110%;
    height: 36px;
    padding: 0 .4em;
    line-height: normal;
    border: 0;
    background: transparent;
    display: block;
}

.select select:focus {
    outline: 0;
}

.checkbox,
.radio {
    display: inline-block;
    position: relative;
    margin-top: .5em;
    margin-bottom: .5em;
}

.checkbox label,
.radio label {
    padding-left: 20px;
    padding-top: 0;
    display: inline-block;
}

.checkbox input[type="checkbox"],
.radio input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate-infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-down {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-up {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent;
        color: #000;
        box-shadow: none;
        text-shadow: none;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
        max-width: 100%;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
}


/*
*
*   Manoli's additions
*
*/

canvas {
    width: 100%;
    height: 100%
}

#game-stats {
    font-family: 'Sarpanch', sans-serif;
    font-weight: 900;
    position: absolute;
    z-index: 100000;
    color: #00ff00;
    text-align: center;
    font-size: 3vw;
}

#headtrackerMessageDiv {
    font-weight: 400;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 57vh;
    font-size: 0.5em;
}

#lives-and-score {
    top: 8vh;
    text-align: right;
    position: absolute;
    right: 8vh;
}

#lives-and-score img.lives {
    width: 10vh;
    display: inline-block;
    padding-right: 1vh;
}

#timer {
    top: 8vh;
    text-align: left;
    position: absolute;
    padding-left: 8vh;
}

#start-game {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50vh;
}

.dg.ac {
    z-index: 1000000 !important;
}
.hide {
        display: none;
    }